* {
  line-height: 30px;
}

li {
  font-size: 15px;
}

.bold {
  font-weight: bold;
}

p {
  font-size: 15px;
}

label {
  font-size: 15px;
}

span {
  line-height: 30px;
  font-size: 15px;
}

.container {
  margin-left: 10%;
  margin-right: 10%;
}

.logo {
  height: 25px;
  align-self: center;
}

/* Nav bar section */
.navBar {
  display: grid;
  grid-template-columns: 7fr 1fr 1fr 1fr 1fr;
  padding-top: 10px;
}

.navBar a {
  text-decoration: none;
  color: #404040;
  text-transform: uppercase;
  font-size: 15px;
  padding: 10px 0;
}
  
.navBar button {
  background-color: #f1f8ff;
  color: #208ae0;
  border: none;
  padding: 5px;
  border-radius: 2px;
  font-weight: bold;
}

/* Main content */
.page {
  padding-top: 20px;
}

/* footer section */
#footer {
  text-align: right;
  padding-top: 60px;
  padding-bottom: 15px;
  font-size: 15px;
  color: #bbb;
}

#footer span.AVAMAE {
  text-decoration: underline;
  font-size: 10px;
}

#footer span.footer_text {
  font-size: 10px;
}

/* Solid border */
hr.solid {
  border-top: 1px solid #bbb;
  margin-bottom: 10px;
}
