/* Section 1 */
#sec1 {
    padding-bottom: 40px;
}

.swiperContent {
    color: white;
    margin-left: 200px;
    padding-top: 100px;
}

.swiperContent p {
    font-size: 45px;
}

/* Overwrite swiper style */
.swiper-pagination > .swiper-pagination-bullet {
    opacity: 1;
    background-color: white;
}

.swiper-pagination > .swiper-pagination-bullet-active {
    background-color: rgb(79, 140, 190);
}

div.swiper-button-prev {
    background-color: rgb(166, 166, 166, 0.7);
    background-image: url(../pics/Icon_Arrow.svg);
    background-repeat: no-repeat;
    background-size: 40% auto;
    background-position: center;
    border-radius: 4px;
    width: 40px;
}

div.swiper-button-next {
    background-color: rgb(166, 166, 166, 0.7);
    background-image: url(../pics/Icon_Arrow.svg);
    background-repeat: no-repeat;
    background-size: 40% auto;
    background-position: center;
    transform: rotate(180deg);
    border-radius: 4px;
    width: 40px;
}

.swiper-button-next::after, .swiper-button-prev::after{
    display: none;;
}

@media (max-width: 900px) {
    .swiperContent {
        margin-left: 20px;
        padding-top: 100px;
    }

    .swiper-button-prev, .swiper-button-next {
        display: none !important;
    }
    
    .swiperContent a button {
        width: 95%;
    }

    .swiperContent p{
        font-size: 35px;
    }
    
}

/* Section 2 */
#sec2 {
    display: flex;
    padding-top: 40px;
    padding-bottom: 80px;
}

section article:first-child {
    flex: 1 ;
    margin-right: 120px;
}

section article:last-child {
    flex: 1 ;
}

.crop-height {
    height: 420px;
    overflow: hidden; 
}

img.scale {
    width: 100%;
}

.header {
    text-align: center;
}

h3 {
    margin: 0;
}

@media (max-width: 900px) { 
    #sec2 {
        flex-direction: column-reverse;
        padding-top: 0%;
        padding-bottom: 20px;
    }

    .crop-height {
        height:fit-content;
        overflow: hidden; 
    }

    section article:first-child {
        flex: 1 ;
        margin-right:auto;
    }
}

/* Section 3 */
#sec3 {
    background: url(../pics/shutterstock_1302552622.webp);
    background-position: 75% 10%;
    background-repeat: no-repeat;
    height: 500px;
}

.gridContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.login {
    background-color: white;
    color: rgb(39, 96, 142);
    border: none;
    font-weight: bold;
    font-size: 10px;
    padding: 5px 30px;
    border-radius: 4px;
}

.gridContainer div:first-child {
    margin-top: 40px;
}

.gridContent {
    background-color: rgb(96, 84, 78);
    border-radius: 3px;
    padding: 30px;
    margin-right: 50px;
}

.gridContent h3 {
    color: white;
}

.gridContent span {
    color: white;
}

@media (max-width: 900px) { 
    #sec3 {
        /* background-position: 75% 10%; */
        background-repeat: no-repeat;
        background-size: cover;
        height: 500px;
        padding-top: 10px;
    }

    .gridContainer {
        display:contents;
    }
    .gridContainer div:first-child {
        margin-top: 20px;
    }
    .gridContent {
        background-color: rgb(96, 84, 78, .7);
        border-radius: 3px;
        margin-top: 10px;
        padding: 15px;
        width: 100%;
    }

    #sec3 .gridContent h3 {
        font-size: 20px;
        font-weight: 300;
    }

    #sec3 .gridContent span {
        font-size: 10px;
    }

    #sec3 .gridContent button {
        width: 100%;
    }
}

/* Section 4 */
#sec4 {
    padding-top: 80px;
}

.header h3 {
    margin: 0;
    padding: 0;
}

.header h4 {
    margin-top: 10px;
    margin-bottom: 30px;
}

.multiple-column > p {
    margin: 0;
}

.multiple-column {
    column-count: 3;
    column-gap: 60px;
    margin: 0;
    padding-bottom: 40px;
}

.contact {
    background-color: rgb(39, 96, 142);
    color: white;
    border: none;
    font-weight: bold;
    font-size: 10px;
    padding: 10px 25px;
    border-radius: 3px;
  }

.centerButton {
    text-align: center;
}

@media (max-width: 900px) { 
    .header h3 {
        font-size: 20px;
        font-weight: 500;
    }

    .multiple-column {
        column-count: 1;
    }

    .contact {
        width: 95%;
    }
}